.input-field{
    width: 320px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #2B2F53;
    background-color: transparent;
    opacity: 1;
    transition: box-shadow 0.2s ease;
    color: #fff;
    padding-left: 16px;
    
}

.input-field:focus {
    outline: none; /* Убираем стандартный outline */
    border-color: #602EA6; /* Меняем цвет рамки на основной цвет */
    box-shadow: 0 0 0 2px rgba(96, 46, 166, 0.2), /* Основное свечение */
                0 0 3px rgba(201, 119, 214, 0.3);
}

.input_label {
    font-size: 16px;
    color: #fff;
    align-self: flex-start;
    padding-left: 8px;
    margin: 0;
}

.custom-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}